[Unit]
Description=rm2 framebuffer server
StartLimitIntervalSec=600
StartLimitBurst=4
Before=xochitl.service launcher.service remarkable-reboot.service remarkable-shutdown.service
After=opt.mount
ConditionFileNotEmpty=/opt/lib/librm2fb_server.so

[Service]
Type=notify
Restart=on-failure
RestartSec=5
ExecStart=/opt/bin/rm2fb_server
Environment=HOME=/home/root

[Install]
Also=rm2fb.socket
WantedBy=multi-user.target
