Checks:
'-*,clang-diagnostic-*,readability-*,modernize-*,cppcoreguidelines-*,google-readability-*,-modernize-use-trailing-return-type,-readability-identifier-length,-google-readability-casting,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-google-readability-todo,-modernize-use-nodiscard,-cppcoreguidelines-avoid-do-while,-readability-function-cognitive-complexity'
#,-google-readability-todo,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-modernize-use-nodiscard,-cppcoreguidelines-macro-usage,-*-magic-numbers,performance-*,bugprone-*,-cppcoreguidelines-non-private-member-variables-in-classes,-bugprone-exception-escape,-modernize-use-trailing-return-type,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-identifier-length,-google-readability-casting,-bugprone-easily-swappable-parameters'
HeaderFilterRegex: 'libs/|apps/|tools/|test/'
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassConstantCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key: readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key: readability-identifier-naming.ConstantCase
    value: lower_case
  - key: readability-identifier-naming.ConstexprFunctionCase
    value: camelBack
  - key: readability-identifier-naming.ConstexprMethodCase
    value: camelBack
  - key: readability-identifier-naming.ConstexprVariableCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: lower_case
  - key: readability-identifier-naming.GlobalFunctionCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariableCase
    value: camelBack
  - key: readability-identifier-naming.InlineNamespaceCase
    value: lower_case
  - key: readability-identifier-naming.LocalConstantCase
    value: camelBack
  - key: readability-identifier-naming.LocalVariableCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.ConstantMemberCase
    value: camelBack
  - key: readability-identifier-naming.PublicMemberCase
    value: camelBack
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.ConstantParameterCase
    value: camelBack
  - key: readability-identifier-naming.ParameterPackCase
    value: camelBack
  - key: readability-identifier-naming.PureFunctionCase
    value: camelBack
  - key: readability-identifier-naming.PureMethodCase
    value: camelBack
  - key: readability-identifier-naming.StaticConstantCase
    value: lower_case
  - key: readability-identifier-naming.StaticVariableCase
    value: camelBack
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateUsingCase
    value: CamelCase
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: camelBack
  - key: readability-identifier-naming.UsingCase
    value: CamelCase
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.VirtualMethodCase
    value: camelBack
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.IgnoreFailedSplit
    value: 0
