name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/toltec-dev/base:v2.3

    steps:
      - uses: actions/checkout@v2

      - name: Create Build Environment
        run: |
          cmake -E make_directory build

      - name: Configure CMake
        run: |
          cd build
          cmake $GITHUB_WORKSPACE -DCMAKE_TOOLCHAIN_FILE="/usr/share/cmake/$CHOST.cmake" -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cd build && cmake --build .

      - name: Package
        run: cd build && cmake --build . --target package

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: build/rm2stuff.ipk
  release:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}

    steps:
      - name: Download package
        id: download_package
        uses: actions/download-artifact@v2
        with:
          name: package
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: true
      - run: ls -la
      - name: Upload Release Package
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: package.tar.gz
          asset_name: package.tar.gz
          asset_content_type: application/gzip


